<%= form_for :user, url: '/users' do |form| %>
        <h2> Sign Up </h2>
        <%= form.label :user_name %>
        <%= form.text_field :user_name %><br><br>
        <%= form.label :password %>
        <%= form.password_field :password %><br><br>
        <%=  submit_tag("Create Account") %>
<% end %>